astroid==2.4.2
attrs==20.3.0
aws-lambda-powertools==1.9.1
aws-xray-sdk==2.6.0
boto3==1.16.54
botocore==1.19.54
dnspython==2.1.0
email-validator==1.1.2
fastjsonschema==2.14.5
future==0.18.2
idna==3.1
iniconfig==1.1.1
isort==5.7.0
jmespath==0.10.0
jsonpickle==1.4.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
packaging==20.8
paho-mqtt==1.5.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pydantic==1.7.3
pydocstyle==5.1.1
pyflakes==2.2.0
pylama==7.7.1
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
python-etcd==0.4.5
s3transfer==0.3.4
six==1.15.0
snowballstemmer==2.0.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
wrapt==1.12.1
